<h2>Listing Teams</h2>

<table class="full">
  <tr>
    <th>Team Players</th>
    <th>Team Wins</th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%=h show_names_of_players_by_ids(team)  %></td>
    <td><%=h Team.team_wins(team)  %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', games_path %>
