config/initializers/config_fu.rb
config/initializers/session_store.rb
kicker_stats.tmproj
config/database.yml.production
config/deploy.rb
.bundle
db/*.sqlite3
log/*.log
tmp/**/*
bin/*
vendor/bundler_gems/*
!vendor/bundler_gems/cache/
.DS_Store
.env