<%- goals_select_options = options_for_select((0..6).collect{|i| [i.to_s, i.to_s]}) -%>

<% form_for(@game) do |f| %>
  <span class="graytitle">1 oder 3 Matches?</span>
  <ul class="pageitem">
  	<li class="form">
  	  <span class="choice">
  	    <span class="name">1 Match</span>
  	    <input name="best_of" type="radio" value="1" /></span>
  	</li>
  	<li class="form">
  	  <span class="choice">
  	    <span class="name">3 Matches</span>
  	    <input name="best_of" type="radio" value="3" checked="checked"/>
  	  </span>
  	</li>
  </ul>

  <span class="graytitle">Weißer Spieler</span>
  <ul class="pageitem">
    <li class="form">
      <%= select_tag(
            "white_player_ids[]", 
            options_for_select(Player.all.collect {|p| [ p.username, p.id ] })
          )  %>
      <span class="arrow"></span>
    </li>
  
    <li class="form">
      <%= select_tag(:yellow_goals, goals_select_options) %>
      <span class="arrow"></span>
    </li>
  </ul>

  <span class="graytitle yellow">Gelber Spieler</span>
  <ul class="pageitem">
    <li class="form">
      <%= select_tag(
            "yellow_player_ids[]", 
            options_for_select(Player.all.collect {|p| [ p.username, p.id ] }, Player.all[1].id)
          ) %>
      <span class="arrow"></span>
    </li>
  
    <li class="form">
      <%= select_tag(:white_goals, goals_select_options) %>
      <span class="arrow"></span>
    </li>
  </ul>

  <ul class="pageitem">
  	<li class="form">
    <input name="Submit input" type="submit" value="Submit input" class="whiteButton" /></li>
  </ul>
<%- end -%>

